@media (max-width: 914px) {
    /* CSS yahan likho */
    .hero-content .display-text{
        font-size: 35px;
        letter-spacing: 5px;
    }

    .hero-content .lead-text{
        font-size: 14px;
    }

    .hero-content .btn-pill {
        border-radius: 50px;
        padding: 4px 4px 4px 15px !important;
        font-weight: 400;
        border: none;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease;
        color: white !important;
    }

    .hero-content .icon-wrap {
        width: 35px;
        height: 35px;
    }

    /* testimonial-section */

    .testimonial-section .display-5 {
        font-size: 25px;
    }
    .testimonial-section .lead {
        font-size: 17px;
        margin-bottom: 10px !important;
    }

    .testimonial-section .btn-custom-pill {
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    padding: 4px 4px 4px 15px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
    color: white !important;
}


.tracking-section .text-navy {
    font-size: 25px;
}


.tracking-section .image-container {
    height: 350px;
}

.tracking-section .image-container .main-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 24px;
}
.tracking-section .lead-text {
    font-size: 15px;
    margin-bottom: 10px !important;
}

.tracking-section .btn-custom-pill {
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    padding: 4px 4px 4px 15px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
    color: white !important;
}

.tracking-section .icon-circle {
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}


.contact-section {
    background-color: #131735 !important;
    padding: 30px;
    height: 830px;
}



.contact-section iframe{
    height:  250px !important;
    width: 100% !important;
}

.contact-form .form-control {
    background: #161b33;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 6px;
}


.subscribe-box button {
    background: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 20px !important;
}


}



@media (max-width: 375px) {


}